<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
    <link rel="stylesheet" href="./home.css">
    
    <title>Manager</title>
</head>
<body>

      <div class='container'>
          <div class="spaced">
              <p>Hrushikesh Kuklare</p>
              <p>Total Balance</p>
          </div>
      </div>
      <div class='container'>
        <div class="spaced">
            <p>Hrushikesh Kuklare</p>
            <p>Mess Named</p>
        </div>
    </div>
</body>
</html>